### Archivos de ayuda y compilación ###
HELP.md

### Directorios de compilación ###
/target/
/out/
/bin/

### Dependencias y configuración de Maven ###
/.mvn/
!mvnw
!mvnw.cmd
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
release.properties

### Configuración de IDEs (Spring Tool Suite, IntelliJ, VS Code, Eclipse) ###
.idea/
.vscode/
*.sublime-workspace
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

### Archivos de entorno y configuración ###
.env
.env.local
*.log
*.swp
.DS_Store
Thumbs.db

### Archivos de caché de Kotlin ###
*.class
*.jar
*.war
*.ear
*.kt~
/kotlin/
/test-results/
*.coverage
jacoco.exec

### Archivos específicos de MongoDB ###
/data/db/
mongod.lock
mongod.pid
